{% extends "base.html.twig" %}

{% block content %}
    <div class="thankyou-container">
        <div class="title">
            <h1>Félicitation !</h1>
        </div>
        <div class="main">
            <img src="https://fakeimg.pl/250x250/">
            <p>Votre commande a été prises en compte.</p>
            <p>Vous recevrez un SMS quand celle-ci sera prête.</p>
        </div>
    </div>
{% endblock %}
